/* mobile and tablet are code start  */
@media screen and (min-width: 280px) and (max-width: 768px) {
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    }

    #logo {
        color: white;
    }

    #Navbar ul li a {
        color: white;
    }

    #all_list  li {
        font-size: 17px;
        
    }

    #icon {
        color: white;
    }
    
    
    #Navbar {
        background-color: rgb(0, 89, 255);
    }



  }

/* mobile and tablet are code end  */

 /* laptop and tablet screen code start here  */
@media screen and (min-width: 769px) and (max-width: 1700px) {
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    #logo {
        color: white;
        margin-right:20%;
    }


    #Navbar {
        background-color: rgb(0, 89, 255);
        position: fixed;
        width: 100%;
        height: auto;
    }

    #Navbar a {
        color: white;
    }

    #all_list  li {
        margin: 0px 10px;
        font-size: 17px;
    }

    #all_list  li a:hover  {
        background-color:red;
        border-radius: 10px;
    }

    #art-area {
        margin-top: 35px;
        padding: 40px 10px;
    }

    #button-design button {
        background-color: rgb(252, 5, 50);
        color: white;
        border: none;
        font-size: 14px;
        border-radius: 10px 20px 10px 0px;
        padding: 5px 15px;

        
    }

    #four-icon {
        text-align: center;
        background-color: rgb(254, 234, 209);
        padding: 50px 20px;
        border-radius: 100px 50px;
    }

    #i-con {
        background-color: white;
        width: 20%;
        overflow: hidden;
        height: 200px;
        border-radius: 50%;
        margin: 5px 2%;
    }

    #i-con h3 {
        font-size: 19px;
    }

    #i-con img {
        padding: 20px 0px 10px;
        width: 60px;
        height: auto;
    }

    .anubhav {
        width: 500px;
        height: 300px;
        border-radius: 100px;
        border: 2px solid rgb(0, 0, 0);

    }

    #three-are {
        margin: 30px 5%;
        padding: 40px 0px;
        text-align: center;
    }

    #three-are p {
        text-align: justify;
        padding: 10px 5px;
        
    }

    #three-are img {
        width:100%;
        height: 250px;
        border-radius: 100px;
        margin: 2px 30px;
    }

    #foot {
        padding: 20px 10%;
        width: 100%;
        background-color: rgb(3, 144, 245);
    }

    #foot a {
        text-decoration: none;
        color: white;
        display: block;
        margin: 17px 2px;
        font-size: 17px;
    }

    #foot h3 {
        text-align: center;
        color: white;
    }

    #foot p {
        text-align: justify;
        color: white;
    }

    #copyright {
        text-align: center;
        padding: 7px 10%;
        background-color: rgb(0, 0, 0);
        color: white;
        

    }



}
 /* laptop and tablet screen code end here  */
